<html>
    <head>
        <title>
            Timer Application
        </title>
    </head>
    <body onload='loadlogin("main-template","task.html")'>
        <div>
            <div>logo</div>
            <div>profile</div>
        </div>
        <div>
            <div><a href='#' onclick='loadlogin("main-template","log.html")'> log task </a> </div>
            <div><a href='#' onclick='loadlogin("main-template","task.html")'> log time </a> </div>
        </div>
        <div id='main-template' class='main-template'>
        </div>
        <script src="/app/load.js"></script>
    </body>
</html>