body {
	display: flex;
	justify-content: center;
	align-items:end;
    margin-right: 100px;
	flex-direction: column;
	background-image: url("../assets/logbg.png");
	background-repeat: no-repeat;
}

.container {
    margin-top: 3%;
	height: 600px;
	width: 400px;
	background-color: lightgray;
	position: relative;
	overflow: hidden;
}

.btn {
	height: 60px;
	width: 300px;
	margin: 20px auto;
	box-shadow: 10px 10px 30px white;
	border-radius: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.login,
.signup {
	font-size: 22px;
	border: none;
	outline: none;
	background-color: transparent;
	position: relative;
	cursor: pointer;
}

.slider {
	height: 60px;
	width: 150px;
	border-radius: 50px;
    background-color: #FFB4AC;
	position: absolute;
	top: 20px;
	left: 50px;
	transition: all 0.5s ease-in-out;
}

.moveslider {
	left: 200px;
}

.form-section {
	height: 500px;
    padding: 0;
	display: flex;
	position: relative;
	transition: all 0.5s ease-in-out;
	left: 0px;
}

.form-section-move {
	left: -500px;
}

.login-box,
.signup-box {
	height: 100%;
	width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0px 50px;
}

.login-box {
	gap: 50px;
}

.signup-box {
	gap: 30px;
}

.ele {
	height: 60px;
	width: 300px;
    margin-right:90px;
	outline: none;
	border: none;
	color: rgb(39, 39, 39);
	background-color: rgb(240, 240, 240);
	border-radius: 50px;
	padding-left: 30px;
	font-size: 18px;
}

.clkbtn {
	height: 60px;
	width: 150px;
	border-radius: 50px;
	margin-left: -90px;
	background-color:#FFB4AC;
	font-size: 22px;
	border: none;
	cursor: pointer;
}
.login-error{
	color: red;
	position: absolute;
	margin-top: 350px;
	margin-right: 100px;
	width: 270px;
}
.signup-error{
	color: red;
	position: absolute;
	margin-top: 470px;
	margin-right: 50px;
	width: 350px;
}
/* For Responsiveness of the page */
@media screen and (max-width: 1200px) {
    body{
        background-repeat: no-repeat;
        background-size: 1000px 750px;
    }
}
@media screen and (max-width: 1000px) {
    body{
        background-repeat: no-repeat;
        background-size: 700px 500px;
    }
}
@media screen and (max-width: 850px) {
    body{
        background-image: none;
        align-items:center;
        margin-right: 0px;
    }
}

@media screen and (max-width: 650px) {
	.container {
		height: 500px;
		width: 300px;
	}

	.title {
		font-size: 15px;
	}

	.btn {
		height: 50px;
		width: 200px;
		margin: 20px auto;
	}

	.login,
	.signup {
		font-size: 19px;
	}

	.slider {
		height: 50px;
		width: 100px;
		left: 50px;
	}

	.moveslider {
		left: 150px;
	}

	.form-section {
		height: 400px;
		width: 600px;
	}

	.form-section-move {
		left: -375px;
	}

	.login-box,
	.signup-box {
		height: 100%;
		width: 300px;
	}

	.ele {
		height: 50px;
		width: 220px;
		font-size: 15px;
	}

	.clkbtn {
		height: 40px;
		width: 130px;
		font-size: 19px;
	}
}
