html * {
    font-family: Nunito, sans-serif;
    cursor:default;
  }
.logo{
    background-image: url("../assets/logo.png");
    width: 310px;
    height: 190px;
    background-size:auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header p{
    width: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header-right{
    display: flex;
}
.profile{
    background-image: url("../assets/profile.png");
    display: flex;
    width: 55px;
    height: 55px;
    background-size: contain;
}
.profile-div{
    display: flex;
    width: 200px;
    flex-direction: column;
    align-items: center;
}
.profile-div p{
    width: auto;
}
.log-div{
    display: flex;
    flex-direction: column;
    align-items: center
}
.add-task-button{
    height: 40px;
    width: 200px;
    border-top-right-radius: 20px ;
    border-bottom-right-radius: 20px ;
    color: white;
    background-color: brown;
    border-color: transparent;
    cursor: pointer;
}

.add-task-div{
    margin-top: 40px;
}
.current-task-div, .log-task-div{
    width: 80%;
    margin: 20px;
    border: 1px;
    border-style:solid;
    border-radius: 20px;
    border-color: #4D455D;
}
.current-task-div h3, .log-task-div h3{
    margin-top: -20px;
    margin-left: 40px;
    font-size: 25px;
    background-color: white;
    color: #4D455D;
    width: fit-content;
    font-weight: 200;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.log-task{
    display: flex;
    height: 40px;
    border-bottom: 1px solid lightgrey ;
    margin: 5px;
    justify-content: space-between;
}
.log-task h4{
    font-size: 20px;
    margin-top: 10px;
    padding-left: 20px;
}
.log-task-icons{
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-evenly;
}
.start{
    height: 30px;
    width: 30px;
    border: 0px;
    background-size: contain;
    background-image: url("../assets/start.svg");
    background-repeat: no-repeat;
    cursor: pointer;
}
.edit{
    height: 30px;
    width: 30px;
    border: 0px;
    background-size: contain;
    background-image: url("../assets/Edit.svg");
    cursor: pointer;
}
.delete{
    height: 30px;
    width: 30px;
    border: 0px;
    background-image: url("../assets/Delete.svg");
    cursor: pointer;
}
.log-time{
    font-size: 30px;
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: space-between;
}
.log-task-name{
    height: 40px;
    width: 20%;
}
.log-container{
    height: 70px;
}
.no-log{
    display: flex;
}
.no-log h4{
    padding-left: 40px;
    font-size: 30px;
    font-weight: 300;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.add-task-current-log{
    border: 0px;
    background-color: #e7e7e7;
    border-radius: 20px;
    color: #E96479;
    font-size: 30px;
    margin-top: 10px;
    font-weight: 300;
    height: 100px;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.add-task-modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
  }
  .add-task-modal-data{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    align-content: stretch;
    align-items: center;
    justify-content: space-evenly;
    background-color: silver;
  }
  .edit-task-modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
  }
  .edit-task-modal-data{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    align-content: stretch;
    align-items: center;
    justify-content: space-evenly;
  }
  .clkbtn {
	height: 30px;
	width: 100px;
	margin: 20px auto;
	border-radius: 20px;
    border: 0px;
	display: flex;
	justify-content: space-around;
	align-items: center;
    cursor: pointer;
}
input {
	height: 100px;
	width: 400px;
	outline: none;
	border: none;
	color: rgb(39, 39, 39);
	background-color: rgb(240, 240, 240);
	border-radius: 50px;
	padding-left: 30px;
    padding: 15px;
	font-size: 24px;
}
.pop-head{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
}
.ok{
    background-color: #06b200;
}
.cancel{
    background-color:  #D3494E;
}
.import, .export, .logout{
    cursor: pointer;
}